<div class="interests-container">
    <h1>Interesses</h1>
    <p>Compartilhe seus gostos e paixões com outros usuários</p>

    <div class="interests-list">
        <div *ngIf="isLoading" class="loading">Carregando interesses...</div>
        <div class="capsules" *ngIf="!isLoading">
            <ng-container *ngFor="let interest of visibleInterests">
                <button class="capsule" [class.selected]="isSelected(interest.id)"
                    (click)="toggleInterest(interest.id)">
                    <span class="icon">
                        <i [ngClass]="'fa ' + interest.iconName"></i>
                    </span>
                    <span class="name">{{ interest.name }}</span>
                </button>
            </ng-container>
        </div>
        <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
    </div>

    <app-gradient-button *ngIf="!showAllInterests && interests.length > 10" class="load-more-btn"
        (clicked)="loadMore()">
        Load More
    </app-gradient-button>
    <app-button [textButton]="'Continuar'" (clicked)="continue()"></app-button>
</div>