.login-root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.back-btn {
    position: absolute;
    top: 32px;
    left: 32px;
    background: none;
    border: none;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
}

.login-title {
    color: #fff;
    font-size: 2.2rem;
    font-weight: bold;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2.5rem;
}

.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.signup-btn {
    background: none;
    border: none;
    color: #ff4b7d;
    font-size: 1rem;
    cursor: pointer;
    align-items: center;
    text-align: center;
    width: 100%;
}

.btnContainer {
    display: flex;
    justify-content: center;
    align-content: center;
}

.arrow {
    font-size: 1.3rem;
    margin-left: 0.3rem;
}