<div class="register-container">
    <button class="back-btn" (click)="goBack()">&#8592;</button>
    <h1>Detalhes do Perfil</h1>
    <p>Preencha os dados abaixo</p>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="photo-upload">
            <label for="profilePhoto">
                <div class="photo-circle">
                    <ng-container *ngIf="photoPreviewUrl; else defaultPhoto">
                        <img [src]="photoPreviewUrl" alt="Profile Photo" />
                    </ng-container>
                    <ng-template #defaultPhoto>
                        <i class="fa fa-user"></i>
                    </ng-template>
                    <span class="camera-icon">
                        <i class="fa fa-camera"></i>
                    </span>
                </div>
                <input id="profilePhoto" type="file" accept="image/*" (change)="onPhotoChange($event)" hidden />
            </label>
        </div>

        <app-input-text formControlName="firstName" placeholder="Primeiro nome"></app-input-text>
        <app-input-text formControlName="lastName" placeholder="Sobrenome"></app-input-text>
        <app-input-date formControlName="dob" placeholder="Data de nascimento"></app-input-date>
        <app-input-text formControlName="email" type="email" placeholder="E-mail"></app-input-text>
        <app-input-text formControlName="password" type="password" placeholder="Senha"></app-input-text>
        <app-input-text formControlName="confirmPassword" type="password"
            placeholder="Confirmar senha"></app-input-text>
        <app-input-select formControlName="gender" placeholder="Gênero"
            [options]="[{label: 'Masculino', value: 'male'}, {label: 'Feminino', value: 'female'}]"></app-input-select>
        <app-input-select formControlName="preference" placeholder="Preferência"
            [options]="[{label: 'Masculino', value: 'male'}, {label: 'Feminino', value: 'female'}]"></app-input-select>

        <div *ngIf="errorMsg" class="error">{{ errorMsg }}</div>
        <div class="btnContainer">
            <app-button type="button" [disabled]="loading" [textButton]="'Continuar'" (click)="onSubmit()"></app-button>
        </div>
    </form>
</div>